<ion-view view-title="HOME">
  <div class="bar bar-header bar-stable">
    <h1 class="title">Settings</h1>
  </div>
  <ion-content class="has-header padding">


    <h1>Settings</h1>
    <button ng-click="logout()" type="button" name="button">Log Out!</button>

    <form name="postForm" ng-submit="submit()">
    <div ng-class="{'has-error':postForm.interests.$invalid && postForm.interests.$dirty, 'has-success': postForm.interests.$valid}" class="form-group">
      <label for="interests">Interests:</label>
      <input class="form-control" id="interests" ng-model="interests" type="text" name="interests" placeholder="Interests" ng-minlength="0" ng-maxlength="255" required>
      <div class="error" ng-show="postForm.interests.$invalid">
        Interests cannot be blank and must be less than 255 characters.
      </div>
    </div>
    <input type="submit">
  </form>
  </ion-content>
</ion-view>
