<ion-view view-title="Home">
  <div class="bar bar-header bar-stable">
    <h1 class="title">Yodelers</h1>
  </div>
  <ion-content class="has-header">
    <h3 class="text-center">Welcome, {{currentUser.username}}! Start Yodelin'</h3>
    <br>
    <br>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input ng-model="search" type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    <input type="range" name="volume" min="0" max="50" ng-model="rangeValue" ng-change="drag(rangeValue)">
    <div>Distance: {{rangeValue / 10 }} miles</div>
    <ion-item class="list-item" ng-repeat='user in usersInRange | filter: search' ng-show="lessThan(user.distance)" ui-sref="tabs.chat({userId: user.id})">
      <div class="item-avatar" href="#">
        <img src="../../img/YodelSkills.jpg">
        <h2>{{user.username}}</h2>
        <ng-pluralize count="user.distance" when="{'0': 'No comments yet',
                             '1': 'View 1 comment',
                             'other': 'Distance from you: {{user.distance | number: 1}} miles.'}">
        </ng-pluralize>
        <h5>Interests: {{user.interests}}</h5>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
