
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tabs/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Go Live Tab -->
  <ion-tab  title="Location" icon-off="ion-ios-location-outline" ng-click="doItLive()">
  </ion-tab >

<!-- settings -->
  <ion-tab title="Logout" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear-outline" href="#/tabs/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
