<ion-view view-title="Home">
  <div class="bar bar-header bar-stable">
    <h1 class="title">Yodelers</h1>
  </div>
  <ion-content class="has-header">
    <h3 class="text-center">Welcome {{currentUser.name}}! Start Yodelin'</h3>
    <ion-item class="list-item" ng-repeat='user in usersInRange' ui-sref="tabs.chat({id: user.id})">
      <div class="item-avatar" href="#">
        <img src="../../img/YodelSkills.jpg">
        <h2>{{user.username}}</h2>
        <ng-pluralize count="user.distance"
                      when="{'0': 'No comments yet',
                             '1': 'View 1 comment',
                             'other': 'Distance from you: {{user.distance | number: 1}} miles.'}">
        </ng-pluralize>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
