body {
}

#landingImg {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.searchAndDistance {
  width: 100%;
  background-color: rgb(252, 224, 164);
  position: relative;
  padding: 0px;
}

.searchDiv {
  width:40%;
  margin-left: 3%;
  margin-right: 5%;
  top: -7px;
  position: relative;
  display: inline-block;

}

.dragDiv {
  width: 40%;
  margin-left: 5%;
  top: 2px;
  display: inline-block;
  position: relative;
}

.searchField {
  width: 100%;
}

.dragBar {
  width: 100%;
}

.bar-yellow {
  background-color: rgb(255, 214, 127);
}
.button-yellow {
  background-color: rgb(255, 214, 127);
}

ion-content {
  /*background-color: rgb(255, 214, 127);;*/
  background-color: rgb(255, 243, 220);
}

.no-border {
  border: none;
}

.user {
  font-weight: bold;
}

.current-user {
  float: left;
  clear: both;
}

.not-current-user {
  float: right;
  clear: both;
}

.current-user .details {
  background-color: #72CBFF;
}

.not-current-user .details {
  background-color: #DCDCDC;
}
