body {
}

#landingImg {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  -webkit-animation-delay: 2s;

}

#backgroundImg {
  position: fixed;
  z-index: -1000;
  background-repeat: no-repeat;
  /*background-image: url('../img/yodellogobackground.jpg');*/
  width: 100%;
  background-size:contain;

}

#yodelbutton {
  z-index: 1000
}

.bar-yellow {
  background-color: rgb(255, 214, 127);
}
.button-yellow {
  background-color: rgb(255, 214, 127);
}

.tabs-color-yellow {
  background-color: rgb(255, 214, 127);
}

.tabs .tab-item .icon.mcfly {
  bottom: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/yodellogosmall.jpg');
  background-size:contain;
}

ion-content {
  /*background-color: rgb(255, 214, 127);;*/
  background-color: rgb(255, 243, 220);;
}

.no-border {
  border: none;
}

.user {
  font-weight: bold;
}

.current-user {
  float: left;
  clear: both;
}

.not-current-user {
  float: right;
  clear: both;
}

.current-user .details {
  background-color: #72CBFF;
}

.not-current-user .details {
  background-color: #DCDCDC;
}
